<html>
  <head>
    <title>Applibot Chat</title>
    <link rel="stylesheet" media="screen" href="@jp.co.applibot.abc.controllers.routes.Styles.index">
    <link rel="stylesheet" media="screen" href="@jp.co.applibot.abc.controllers.routes.Styles.components">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
  </head>
  <body>
    <div id="react-root"></div>
    @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
  </body>
</html>
